[retriever]
type = SimpleIMAPSSLRetriever
server = mail.example.com
username = pdf@example.com
password = mypassword

[options]
delete = true

[destination]
type = MDA_external
path = /where/I/installed/email2pdf --enforce-syslog
arguments = ("-d", "/where/I/want/PDFs/to/go")
