Package: email2pdf
Version: 0.7.2
Section: base
Priority: optional
Architecture: all
Depends: python3, python3-bs4, python3-lxml, python3-pypdf2, python3-magic, python3-requests, wkhtmltox
Recommends: getmail
Maintainer: Andrew Ferrier <andrew.ferrier@example.com>
Description: MDA which converts email to PDF
 A mail delivery agent which converts emails to PDF.
